@using SchkalkaB.Models
@model TimetableViewModel
<div class="main_main">
    <label>Здравствуйте, директор @Model.Director.DirectorName @Model.Director.DirectorSurName</label>
    <label>Расписание на день</label>
</div>
<div class="info">
    <img src="/basik.png">
    <div class="link_basik">
        <a asp-controller="Timetable" asp-action="CheckStudents">Ученики</a>
        <a asp-controller="Timetable" asp-action="AddEvent">Добавить мероприятие</a>
        <a asp-controller="Timetable" asp-action="SpisokEvents">Все мероприятия</a>
    </div>
</div>
<div class="basik">
    <label>Расписание:</label>
    <label>@Model.DateMy.DayOfWeek</label>
    <label>@Model.DateMy.ToShortDateString()</label>
    <label>Уроки</label>
    <div class="arrows">
        <a asp-controller="Timetable" asp-action="MinusD"><img src="/arr_two.png"></a>
        <a asp-controller="Timetable" asp-action="PlusD"><img src="/arr_one.png"></a>
    </div>
</div>
<div class="super_main_a">
    @foreach(Class cl in Model.Classes)
    {
        <div class="suka">
            <label>@cl.NameClass</label>
            <table>
                <tr>
                    <td>Номер</td>
                    <td>Урок</td>
                    <td>Кабинет</td>
                </tr>
                @foreach(TimeTable tm in Model.AllTimetables)
                {
                    @if (tm.Class == cl.ClassId)
                    {
                        <tr>
                            <td>@tm.NumLesson</td>
                            <td>@tm.TeacherSubjectNavigation.SubjectNavigation.SubjectName</td>
                            <td>@tm.Cabinet</td>
                        </tr>
                    }
                }
            </table>
        </div>
    }
</div>