@using SchkalkaB.Models
@model TimetableViewModel
<div class="main_main">
    <label>Здравствуйте, @Model.Teacher.TeacherName @Model.Teacher.TeacherSurName</label>
    <label>Расписание на день</label>
</div>
<div class="info">
    <img src="/basik.png">
    <div class="link_basik">
        <a asp-controller="Timetable" asp-action="Events">Мероприятия</a>
        <a asp-controller="Timetable" asp-action="IndexTeacher">Главная</a>
        <a asp-controller="Timetable" asp-action="Adding">Назад</a>
    </div>
</div>
<div class="basik">
    <label>Списки учителей:</label>
    <label>@DateTime.Today.DayOfWeek</label>
    <label>@DateTime.Today.ToShortDateString()</label>
    <label>Учителя</label>
</div>
<div class="super_main">
    <div class="paw_extra">
        <img src="/paw_two.png">
    </div>
    <div class="finals">
        <div class="tab">
            <div class="tab_two">
                <label class="tab_l">Имя</label>
                <label class="tab_l">Фамилия</label>
                <label class="tab_l">Отчество</label>
                <label class="tab_l">Логин</label>
            </div>
            @foreach (Teacher teacher in Model.Teachers)
            {
                <div class="tab_two">
                    <label class="tab_l">@teacher.TeacherName</label>
                    <label class="tab_l">@teacher.TeacherLastName</label>
                    <label class="tab_l">@teacher.TeacherSurName</label>
                    <label class="tab_l">@teacher.UserlNavigation.Login</label>
                </div>
                <div class="tab_two">
                    <a asp-controller="Timetable" asp-action="ChangeTeacher" asp-route-teacherId="@teacher.TeacherId">Изменить</a>
                </div>
                <div>
                    <a asp-controller="Timetable" asp-action="DeleteTeacher" asp-route-teacherId="@teacher.TeacherId">Удалить</a>
                </div>
            }
        </div>
    </div>
    <div class="paw_extra_two">
        <img src="/paw_main.png">
    </div>
</div>
